# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Temp db
*.idb
*.pdb
*.log
*.tlog
*.ilk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.vcxproj
*.sln
*.vcxproj.filters
*.vcxproj.user
*.recipe

.vs
.vscode
.idea
.luarc.json
## OSX artifacts
.DS_Store

## Dear ImGui artifacts
imgui.ini

## Visual Studio artifacts
ipch
*.opensdf
*.user
*.sdf
*.suo
*.VC.db
*.VC.VC.opendb

## Commonly used CMake directories
/build*/

## Xcode artifacts
project.xcworkspace
xcuserdata

## Emscripten artifacts
**/imgui/examples/
**/imgui/docs/
**/imgui/.github/

cmake-build-*

*.code-workspace